.cs-detail-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  font-family: "Pretendard";

  .cs-detail-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }
  .cs-detail-body {
    width: 1000px;

    .cs-detail-title {
      background-color: rgb(237, 237, 237);
      border-radius: 10px;
      margin: 10px;
      padding: 20px 40px;
      font-weight: 700;
    }
    .cs-detail-content {
      border: 1px solid #ccc;
      border-radius: 10px;
      margin: 10px;
      padding: 40px;

      min-height: 500px;
    }
    .cs-detail-attachment {
      background-color: rgb(237, 237, 237);
      border-radius: 10px;
      margin: 10px;
      padding: 10px;
    }
  }
  .cs-detail-btn {
    display: flex;
    justify-content: space-between;
  }
}
