.cs-detail-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  padding: 0px;
  margin: 0px;
  font-family: 'Pretendard';

  .cs-detail-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }
  .cs-detail-body {
    .cs-detail-title {
        background-color: rgb(214, 214, 214);
        border-radius: 10px;
        margin: 10px;
        padding: 20px 40px;
        font-weight: 700;

    }
    .cs-detail-content {
        border: 1px solid #ccc;
        border-radius: 10px;
        margin: 10px;
        padding: 40px;

        min-height: 500px;
    }
    .cs-detail-attachment {
        background-color: blue;
        border-radius: 10px;
        margin: 10px;
        padding: 10px;
    }
  }
}
