/* MyPage 전체 스타일 */
.myPage {
  display: flex;
}

/* MyPage Navigate 스타일 */
.navMyPage {
  flex: 0 0 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 100px;
  margin-top: 100px;
  font-size: 20px;
  border: 1px solid #ccc;
  height: 200px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  gap: 10px;
}

.navMyPage .nav-link {
  text-align: left;
  color: #7a7979;
  font-weight: 600;
  text-decoration: none;
}

.navMyPage .nav-link:hover {
  color: #1c82e0;
}

.myPageContent h2 {
  text-align: center;
  margin: 35px 0 60px 0;
}

.myPage input {
  border-radius: 10px;
  border: 1px solid #959595;
  height: 30px;
  padding-left: 15px;
  width: 200px;
}

.myPage input:disabled {
  background-color: #ccc;
}
