.petCreateContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.petCreateContent img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-left: 0;
  object-fit: cover;
}

.petCreateElement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: nowrap;
  margin-bottom: 20px;
}

.petCreateElement label {
  font-weight: bold;
  text-align: right;
  color: #1c82e0;
  min-width: 400px;
  font-size: 18px;
  margin-right: 50px;
}

.button-group .ok-button {
  background-color: #2194ff;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
}

.button-group .cancle-button {
  background-color: #909090;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
}

.button-group {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  margin: 80px 100px 40px 0;
}

.petCreateElement p {
  margin-left: 10px;
}

.pet-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
