.userContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 70vh;
  margin: 100px;
  margin-left: 250px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.userInfoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
}

.userInfoContent img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-left: 0;
}

.userInfoElement {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
}

.userInfoElement label {
  font-weight: bold;
  text-align: right;
  color: #1c82e0;
  min-width: 150px;
  font-size: 18px;
  margin-right: 50px;
}

.userInfoElement p {
  text-align: left;
  margin: 0;
  width: auto;
  min-width: 100px;
  font-size: 18px;
}

.userInfoContent button {
  background-color: #2194ff;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 80px 50px 40px 0; /* 상단 여백을 제거 */
  align-self: flex-end;
}
