/* 산책기록 리스트 화면 */
.selectPetContainer {
  display: flex;
  gap: 15px;
}

.petBox {
  max-width: 100px;
  max-height: 130px;
  padding: 10px;
  border: 1px solid #dfdfdf;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent; 
  cursor: pointer;
  gap: 5px;
  font-family: "Pretendard";
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.petBox.selected {
  font-weight: 700;
  background-color: #e3f2ff !important;
  color: #2a87de;
  box-shadow: inset 0 0 0 4px rgb(212, 234, 255);
  transition: background-color color box-shadow 0.3s ease;
}

.petBox:hover {
  background-color: #f0f0f0;
}

.petCircleBox {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.petCircleBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.midElement {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.midElement span {
  font-weight: 500;
  color: #6d6d6d;
  font-size: 16px;
}

.midElement button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3da1ff;
  padding: 5px 15px;
  color: #fff;
  gap: 10px;
  font-weight: bold;
  border-radius: 20px;
}

.midElement button:hover {
  background-color: #2a87de;
}

.walkingRecordList {
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  height: 350px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.petList-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
  min-height: 90px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
}

.petList-button:hover {
  background-color: #2194ff;
}

.walkingRecordList img {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin-left: 15px;
  object-fit: cover;
}

.walking-info {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 140px;
}

.walking-info p {
  margin: 5px 0; /* 세로 간격 */
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

.distance {
  align-self: flex-start; /* 거리 정보는 왼쪽 정렬 */
}

.time {
  margin-top: 10px;
}

.buttons {
  display: flex;
  gap: 10px;
  top: 10px;
  right: 10px;
  margin-right: 10px;
  align-items: flex-end;
  position: absolute;
}

ul.file-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.file-list li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  position: relative;
}

ul.file-list li span.file-name {
  margin-left: 10px;
  font-size: 16px;
}

.file-item {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 8px;
}

.delete-btn {
  position: absolute;
  cursor: pointer;
  right: 1px;
}

.choicePet {
  color: #818181;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.choicePet p {
  text-align: center;
  color: #818181;
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
}

.noContent {
  color: #818181;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.image-list {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}
