html {
  overflow-y: scroll; /* 세로 스크롤바 항상 표시 */
}

/* 전체 헤더 스타일 */
.header {
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #dbdbdb;
  padding: 0.3% 8%;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  gap: 8%;
}

.header .mainLogo img {
  height: 50px;
}

/* 카테고리 */
.header .navBar {
  display: flex;
  margin-top: 5px;
  position: relative;
  flex-grow: 1;
  justify-content: space-evenly;
}

.header .navButton {
  background-color: transparent;
  color: #222;
  font-size: 16px; /* 폰트 크기 수정 */
  display: inline-block;
  position: relative;
  text-decoration: none;
  font-weight: 600;
}

.header .navButton:hover {
  color: #2194ff;
}

.header .navButton::after {
  content: "";
  position: absolute;
  bottom: -19px; /* 밑줄과 텍스트 간격 */
  left: 50%;
  width: 100%;
  height: 5px;
  background-color: #2194ff;
  transform: translateX(-50%) scaleX(0); /* 중앙에서 너비 0으로 시작 */
  transform-origin: center; /* 확장이 중앙에서 시작 */
  opacity: 0; /* 기본적으로 밑줄은 숨겨짐 */
  transition: transform 0.2s ease-in-out;
}

.header .navButton:hover::after {
  transform: translateX(-50%) scaleX(1);
  opacity: 1; /* 호버 시 밑줄 보이게 */
}

/* 사용자 관련 */
.header .navAuth {
  display: flex;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

/* 로그아웃 상태 */
.header .authLoginButton {
  height: 35px;
  width: 75px;
  border-radius: 30px;
  border: none;
  text-align: center;
  background-color: #2194ff;

  font-size: 16px;
  font-weight: 400;
  padding: 0 5px;
  line-height: 35px;
  text-decoration: none;

  color: #ffffff;
  cursor: pointer;
}

.header .authLogin:hover {
  background-color: #1c82e0;
}

/* 로그인 상태 */
.header .authLogout {
  display: flex;
  gap: 5px;
  color: #959595;
  font-weight: bold;
}

.header .myPage {
  text-decoration: none;
  color: #959595;
}

.header .myPage:hover {
  color: #2194ff;
}

.authLogout button {
  background: none;
}

.authLogout button:hover {
  color: #2194ff;
}

.nickname {
  color: #2194ff;
}

.authLogout .divider {
  width: 1px;
  height: 20px;
  background-color: #ccc;
  margin: 0 10px;
}

.authLogout,
.authLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navAuth .authLogout img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}
