.deleteUser {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteUser span {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.deleteUser .warningText {
  color: red;
  font-weight: bold;
}

.deleteUser span p {
  margin: 0;
  display: inline;
}

.delete-container {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  gap: 20px;
}

.deleteUser button {
  background-color: #2194FF;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  align-self: flex-end;
  margin: 80px 50px 40px 0;
}