.userInfoContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  /* background-color: orange; */
}

.userInfoContent img {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  margin-left: 0;
}

.userInfoElement {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
  align-items: center;
  width: 60%;
  flex-wrap: wrap;
  /* background-color: orchid; */
}

.userInfolabel {
  text-align: right; /* 우측 정렬 */
  width: 40%;
  /* background-color: bisque; */
  display: block
}

.userInfoElement label {
  font-weight: bold;
  text-align: right;
  color: #1c82e0;
  min-width: 100px;
  font-size: 18px;
}

.userInfoElement p {
  text-align: left;
  margin: 0;
  width: auto; 
  min-width: 100px;
  font-size: 18px;
}

.userInfoContent button {
  background-color: #2194FF;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  margin: 80px 50px 40px 0; /* 상단 여백을 제거 */
  align-self: flex-end;
}
