.cs-detail-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
  font-family: "Pretendard";

  .cs-detail-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
  }

  .cs-detail-body {
    width: 100%;

    .cs-detail-title {
      background-color: rgb(237, 237, 237);
      margin: 10px;
      padding: 20px 40px;
      font-weight: 700;
    }
    .cs-detail-content {
      background-color: #fff;
      border: 1px solid #ccc;
      margin: 10px;
      padding: 40px;
      height: 500px;
      overflow-y: scroll;
      font-size: 16px;
      font-family: "Pretendard";
    }
  }
  .cs-detail-btn {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    & > div {
      display: flex;
      gap: 20px;
    }
  }

  .cs-detail-attachment {
    margin: 10px;
    padding: 20px 40px;
  }
}

.cs-detail-attachment ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 10px;
  margin-bottom: 5px;
  border-radius: 4px;
  background-color: #fff;
}
