/* 로그인 페이지 전체 스타일 */
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.login img  {
  height: 110px;
  margin-bottom: 10px;
}

.login h4 {
  color: #959595;
  font-weight: 400;
  font-size: 20px;
  cursor: default;
}

.login form {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login input {
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #959595;
  width: 300px;
  box-sizing: border-box;
}

.login button {
  margin-top: 5px;
  background-color: #2194FF;
  border-radius: 15px;
  border: none;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

.login button:hover {
  background-color: #1c82e0;
}

.login .error-message + button {
  margin-top: 15px; /* 에러 메시지 이후 버튼 위치를 더 내려줌 */
}

.login-links {
  display: flex;
  margin-top: 35px;
  cursor: pointer;
  align-items: center;
}

.login-links a {
  text-decoration: none;
  color: #959595;
  font-size: 15px;
  padding: 0 15px;
}

.login-links a:not(:first-child) {
  border-left: 1px solid #959595; 
}

.login .error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}