.container * {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 80%;
  justify-self: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 80vh;
  box-sizing: border-box;
}

.box {
  display: flex;
  /* background-color: #ddd; */
  border-radius: 10px;
  padding: 0;
  flex-wrap: wrap;
  flex: 1;
}

.topSection {
  display: flex;
  justify-content: space-between;
  flex: 1;
  gap: 20px;
  height: 20%;
}

.communityContent {
  overflow: hidden;
}

.box.noticeAndPetsitter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
}

.notice {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}

.notice ul {
  flex-wrap: wrap;
  height: 70%;
  padding: 25px;
  background-color: #f4f4f4;
  border-radius: 10px;
}

.notice h2 {
  cursor: pointer;
  margin-bottom: 30px;
}

.notice li {
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.notice li span:nth-child(1) {
  padding: 0 3px;
  font-weight: bold;
  border-radius: 6px;
  background-color: #afafaf;
  color: #ffffff;
}

.notice li span:nth-child(2) {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 15px;
}

.petsitter {
  height: 30%;
}

.petsitter button {
  cursor: pointer;
  font-size: 18px;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background-color: #2194ff;
  width: 100%;
  height: 100%;
}

.box.healthRecord .health.content h2,
.box.community h2,
.box.petDiary .petDiaryTitle {
  height: 5%;
  padding: 20px;
}

.petDiaryTitle,
.box.community h2 {
  width: 100%;
}

.petDiaryTitle {
  background-color: #2194ff;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.lowSection {
  flex: 1;
  display: flex;
  gap: 20px;
  height: 40%;
  margin-top: 10px;
}

.lowSection .mainBanner {
  flex: 7;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mainBanner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.mainBanner {
  width: 70vw;
}

.box.community {
  background-color: #f4f4f4;
  border-radius: 10px;
}

.box.community div {
  display: flex;
  align-content: space-between;
  padding: 2px;
}

.box.community div:nth-child(2) {
  flex-direction: column;
  flex: 3;
}

.box.community div:nth-child(3) {
  flex-direction: column;
  overflow: hidden;
  flex: 7;
}

.box.community div:nth-child(3) strong {
  margin-bottom: 20px;
}

.box.community p {
  display: flex;
  flex-direction: column;
  justify-items: end;
}

.healthRecord {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.health.content {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

.health.content.petInfo {
  padding: 20px;
}

.health.content.petHealthDetail {
  padding: 20px;
}

.petprofileImg {
  border-radius: 50%;
}

.health.content .petList ul {
  display: flex;
  flex-direction: row;
}

.health.content div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.health.content.petInfo {
  display: flex;
  flex-direction: row;
}

.health.content .petList {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.health.content .petList ul {
  display: flex;
  flex-direction: row;
}

.health.content .petList li button {
  background-color: #8b8b8b;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  font-size: 16px;
  color: #333;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.health.content .petList li button:hover {
  background-color: #2194ff;
  color: #ffffff;
}

.box.petDiary {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.box.petDiary .petDiaryContent {
  display: flex; /* Flex 컨테이너 */
  align-items: flex-end; /* 세로축 하단 정렬 */
  justify-content: space-between; /* 가로축 균등 배치 */
  height: 80%;
  width: 100%;
  gap: 20px;
  flex-wrap: wrap;
}

.box.petDiary .petDiaryContent div {
  display: flex;
  height: inherit;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  background-color: #f4f4f4;
}

.box.petDiary .petDiaryContent div ul li {
  padding: 2px;
}

.box.petDiary .petDiaryContent div ul li:hover {
  background-color: #2194ff;
  border-radius: 10px;
}

.petDiaryContent div ul li input {
  margin: 5px;
}

.gotoPetDetail {
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #2194ff;
  color: #ffffff;
}

.h3 {
  font-size: 24px !important;
}
