@import "rsuite/dist/rsuite.css";

.pet_diary_calendar {
  display: flex;
}

.rs-calendar-bordered .rs-calendar-table {
  border-radius: 20px;
}

.panel .table-cell-day {
  display: block;
  text-align: left;
}

.rs-calendar {
  text-align: left !important;
}

.rs-calendar-table-cell,
.rs-calendar-table-header-cell {
  text-align: left;
  padding-left: 15px;
}

.rs-calendar-table-cell-week-number {
  text-align: left;
}

.rs-calendar-panel .rs-calendar-table-cell-day {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  padding: 5px;
}

.rs-calendar-table-cell.rs-calendar-table-cell-is-today
  .rs-calendar-table-cell-content {
  margin: 0px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #ebebeb;
  border-radius: 10px;
}

.rs-calendar-table-cell.rs-calendar-table-cell-is-today
  .rs-calendar-table-cell-day {
  padding: 5px;
  margin: 0px;
  margin-bottom: 5px;
  padding: 4px 0px;
  text-align: center;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #6b6b6b;
}

.rs-calendar-btn-today {
  background-color: #3da1ff !important; /* 원하는 색상으로 변경 */
  color: #ffffff !important; /* 텍스트 색상 */
  border-radius: 13px;
  text-align: center;
}

.rs-calendar-panel
  .rs-calendar-table-cell-selected
  .rs-calendar-table-cell-content {
  margin: 0px;
  display: flex;
  background-color: #d2e9ff;
  border-radius: 10px;
  color: inherit;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-weight: bold;

  .rs-calendar-table-cell-day {
    padding: 5px;
  }
  
}

.rs-calendar-panel
  .rs-calendar-table-cell-selected
  .rs-calendar-table-cell-content
  .rs-calendar-table-cell-day {
  font-weight: bold;
  margin: 0px;
  padding: 4px 0px;
  width: 30px;
  height: 30px;
  border-radius: 30%;
  background-color: #3da1ff;
  color: #ffffff !important;
  text-align: center;
}

.todays-todo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.calendar-todo-item{
  display: flex;
  font-size: 10px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  border-radius: 3px;
  flex-direction: column;
  box-sizing: border-box;
}

.calendar-todo-item {
  color: #ff3b3b;
  background-color: #fed5d5;
}

.calendar-walking-record-item {
  color: #dba40c;
  background-color: #ffecac;
}

.rs-calendar-panel:not(.rs-calendar-compact) .rs-calendar-table-row:not(.rs-calendar-table-header-row) .rs-calendar-table-cell-content {
  display: flex;
  padding: 5px;
  width: 100%;
  height: 100px;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
}


/* .calendar-todo-item span:nth-child(2) {
  color: #FF961B;
  background-color: #fff0de;
}

.calendar-todo-item span:nth-child(3) {
  color: #9A67FF;
  background-color: #eae0ff;
} */