/* 산책기록 리스트 화면 */
.selectPetContainer {
  display: flex;
  gap: 15px;
}

.petBox {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  flex-direction: column;
  gap: 5px;
  font-weight: bold;
}

.petBox.selected {
  border: 3px solid #2a87de !important;
}

.petBox:hover {
  background-color: #2194FF;
  color: #fff;
}

.petCircleBox {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
}

.midElement {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
  align-items: center;
}

.midElement span {
  color: #6d6d6d;
}

.midElement button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3da1ff;
  padding: 5px 15px;
  color: #fff;
  gap: 10px;
  font-weight: bold;
  border-radius: 20px;
}

.midElement button:hover {
  background-color: #2a87de;
}

.walkingRecordList {
  margin-top: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.03);
  height: 50vh;
  min-height: 100px;
  display: flex;
}

.choicePet {
  color: #818181;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
}

.noContent {
  color: #818181;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
}


