.reviewListModalheader {
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
    width: 30px;
    color: #0085ff;
  }

}

.reviewListModalbody {
    display: flex;
    justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;

  background-color: #0085ff;
  .review {
    width: 47%;
    min-height: 300px;
    background-color: red;
  }
}
