.sns-sign-up-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.sns-sign-up-wrapper img {
  height: 110px;
  margin-bottom: 10px;
}

.sns-sign-up-wrapper h4 {
  color: #959595;
  font-weight: 400;
  font-size: 20px;
  cursor: default;
}

.sns-sign-up-links {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 10px;
  gap: 10px;
}

.sns-sign-up-link {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.sns-sign-up-link img {
  width: 30px;
  height: 30px;
  margin: 0px;
}

.go-back-to-login {
  margin-top: 10px;
  text-align: center;
}

.go-back-to-sign-up {
    margin-top: 20px;
    
    cursor: pointer;
    text-align: center;
    
    background-color: rgb(239, 239, 239);
    padding: 5px;
    border-radius: 10px;
}